<html>
	<head>
		<!-- JQUERYUI CSS -->
		<!--link href="vendor/jquery-ui/jquery-ui.css" rel="stylesheet" type="text/css">
		<link href="vendor/jquery-ui/jquery-ui.modal.css" rel="stylesheet" type="text/css"-->
						
		<!-- TAPE CSS -->
    <%= stylesheet_link_tag("jquery-js.css") %>
    <%= stylesheet_link_tag("plans.css") %>
	</head>
	<body>
	
	<%= render 'layouts/header' %>

		<h1>Plans</h1>

		<table>
		  <thead>
			<tr>
			  <th colspan="3"></th>
			</tr>
		  </thead>

		  <tbody>
			<% @plans.each do |plan| %>
			 
			  <tr>
				  <% if current_user.role == "faculty" then %> <td><%= User.find(plan.user_id).login %></td><%end%>
				<td><h2><%= plan.name %></h2></td>
				<td><%= link_to(raw("<div class='button' id= 'formButton'>Show</div>"), plan)%></td>
				<!--td><%= link_to 'Edit', edit_plan_path(plan) %></td-->
				<td><%= link_to(raw("<div class='button' id= 'formButton'>Delete</div>"), plan, method: :delete, data: {confirm: 'Are you sure?'})%></td>
			  </tr>
			<% end %>
		  </tbody>
		</table>
			
		<%= link_to(raw("<div class='button' id= 'newPlanButton'>New Plan</div>"), new_plan_path)%>

		<br>

		<% if current_user.role == "admin" then %> <div class="admin-section"> YOU ARE AN ADMIN </div><%end%>
	</body>
</html>

