<!-- tape.html
	Noah Shinabarger, Timothy Smith, and Emily Wolf
	Project #6
	February 14th, 2017 -->

<% if current_page?(root_path) %>
    <%= render 'layouts/TAPE_header' %>
<% else %>
    <%= render 'layouts/header' %>
<% end %>
	
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="ENTAPE (Emily, Noah, Timmy Academic Planning Environment">
		<meta name="author" content="Noah Shinabarger, Timothy Smith, and Emily Wolf">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  
		<title>NEWTAPE</title>

		<!-- JQUERYUI CSS -->
		<!--link href="vendor/jquery-ui/jquery-ui.css" rel="stylesheet" type="text/css">
		<link href="vendor/jquery-ui/jquery-ui.modal.css" rel="stylesheet" type="text/css"-->
						
		<!-- TAPE CSS -->
		<%= stylesheet_link_tag("tape.css") %>

		<!-- Custom Fonts -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>

	<body onresize="resizeWindow()">
	<div class="wrapper">
		<div id="bodyContainer">
			<div id="leftContainer">
				<div id="leftScroller"> &#9664 </div>
				<div id="rightScroller"> &#9654 </div>
				<div class="wrapper">
					<div id="planner"><!-- JavaScript dynamic load goes in here --></div>
					<div id="finderWrapper">
						<div id="horizontalGrabber"><div id="horizontalLine"> </div></div>
						<div id="finder">
							<div class="sectionHeader"> FINDER </div>
							<div id="classFinder">
								<input type="text" id="finderInput" onkeyup="filterSearch()" placeholder="Search..." title="Type in a search">
								<div id="tablePane">
									<table id="finderTable" class="tablesorter">
										<thead>
											<tr style="border-bottom: 1pt solid black; font-size: 11pt">
												<th style="text-align: left; padding-left: 25px; width: 30%">Name</th>
												<th style="text-align: left; width: 50%">Title</th>
												<th style="text-align: center; width: 20%">Credits</th>
											</tr>
										</thead>
										<tbody id="finderTableBody">
										
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="rightContainer">
				<div class="wrapper">
					<div id="verticalGrabber">
						<div id="verticalLine"></div>
					</div>
					<div id="rightPanelWrapper">
						<div id="requirements">
							<div class="sectionHeader"> REQUIREMENTS </div>
							<div id="accordion">
								<h3 style="font-weight: bold">Emily Wolf</h3>
								<div>SSN: 230-76-3811</div>
								<h3 style="font-weight: bold">Noah Shinabarger</h3>
								<div>SSN: 555-55-5554</div>
								<h3 style="font-weight: bold">Timothy Smith II</h3>
								<div>SSN: 11-13-1995</div>							
							</div>
							
						</div>
						<div id="validator">
							<div class="sectionHeader"> VALIDATION STATUS </div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>


<%= link_to 'Back', plans_path %>



<%= javascript_include_tag('tape_js/display_fns.js')%>
<%= javascript_include_tag('tape_js/dropdown_fns.js')%>
<%= javascript_include_tag('tape_js/filter_table.js')%>
<%= javascript_include_tag('tape_js/get_json.js')%>
<%= javascript_include_tag('tape_js/planner_definitions.js')%>
<%= javascript_include_tag('tape_js/scroller_fns.js')%>
<%= javascript_include_tag('tape_js/on_ready.js')%>

<script> printData(<%= @plan.to_json.to_s.html_safe %>)</script>

	</body>
</html>








